Calvin Xu 542 Deliverble 1

In [61]:
from IPython.display import IFrame
ciaage= "https://www.cia.gov/the-world-factbook/field/median-age/country-comparison"
IFrame(ciaage, width=900,height=500)

In [89]:
import pandas as pd
ciaageTables=pd.read_html(ciaage, header=0,)
ciaageTables[0]

DFciaage=ciaageTables[0].copy()
DFciaage.columns

bye=[0,3]
DFciaage.drop(columns=DFciaage.columns[bye],inplace=True)
DFciaage

                       Country  years
0                       Monaco   55.4
1                        Japan   48.6
2    Saint Pierre and Miquelon   48.5
3                      Germany   47.8
4                        Italy   46.5
..                         ...    ...
222                       Chad   16.1
223                       Mali   16.0
224                     Angola   15.9
225                     Uganda   15.7
226                      Niger   14.8

[227 rows x 2 columns]

In [100]:
from IPython.display import IFrame
cp= "https://www.cia.gov/the-world-factbook/field/population/country-comparison"
IFrame(cp, width=900,height=500)

In [138]:
import pandas as pd
cpTables=pd.read_html(cp, header=0)
cpTables[0]

SyntaxError: unexpected character after line continuation character (1267159857.py, line 5)

In [141]:
import pandas as pd
import requests 
import io
url ="https://raw.githubusercontent.com/Calvinxu542/guided1/main/global%20gdp%20ranking.csv"
download = requests.get(url).content
df = pd.read_csv(io.StringIO(download.decode('utf-8')))

DFurl=ciaageTables[0].copy()
DFurl.columns

bye[0,1,2]
DFurl.drop(columns=DFurl.columns[bye],inplace=True)
DFurl

TypeError: list indices must be integers or slices, not tuple

In [4]:
from IPython.display import IFrame
linkuni= "https://en.wikipedia.org/wiki/List_of_top_1000_universities_in_the_world"
IFrame(linkuni, width=900,height=500)

In [151]:
import pandas as pd
tableuni=pd.read_html(linkuni, header=0)
tableuni[0]
DFurl=tableuni[0].copy()
DFurl.columns

bye[0]
DFurl.drop(columns=DFurl.columns[bye],inplace=True)
DFurl

IndexError: index 3 is out of bounds for axis 0 with size 2

[Empty DataFrame
 Columns: [Unnamed: 0, This article needs to be updated. Please help update this article to reflect recent events or newly available information. (October 2022)]
 Index: [],
                                        University         Country THE 2022[1]  \
 0                              Harvard University   United States           2
 1     Massachusetts Institute of Technology (MIT)   United States           5
 2                             Stanford University   United States           4
 3                            University of Oxford  United Kingdom           1
 4                         University of Cambridge  United Kingdom           5
 ...                                           ...             ...         ...
 1185                         University of Passau         Germany     351-400
 1186        North China Electric Power University           China         NaN
 1187  Institut National Polytechnique de Toulouse          France         NaN
 1188   Wuhan University of Science and Technology           China         NaN
 1189                    Dalian Medical University           China         NaN

      QS 2023[2] ARWU 2021[3]  USNWR 2022 [4] Average *  \
 0             5            1             1.0       2.3
 1             1            4             2.0       3.0
 2             3            2             3.0       3.0
 3             4            7             5.0       4.3
 4             2            3             8.0       4.5
 ...         ...          ...             ...       ...
 1185        NaN          NaN             NaN       NaN
 1186        NaN          NaN             NaN       NaN
 1187        NaN          NaN             NaN       NaN
 1188        NaN          NaN             NaN       NaN
 1189        NaN          NaN             NaN       NaN

       Ranking based on the average
 0                              1.0
 1                              2.0
 2                              3.0
 3                              4.0
 4                              5.0
 ...                            ...
 1185                           NaN
 1186                           NaN
 1187                           NaN
 1188                           NaN
 1189                           NaN

 [1190 rows x 8 columns],
   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteUniversity ranking systems  \
 0                                             Global
 1                                           Regional
 2                                           National
 3                                           Category

   .mw-parser-output .navbar{display:inline;font-size:88%;font-weight:normal}.mw-parser-output .navbar-collapse{float:left;text-align:left}.mw-parser-output .navbar-boxtext{word-spacing:0}.mw-parser-output .navbar ul{display:inline-block;white-space:nowrap;line-height:inherit}.mw-parser-output .navbar-brackets::before{margin-right:-0.125em;content:"[ "}.mw-parser-output .navbar-brackets::after{margin-left:-0.125em;content:" ]"}.mw-parser-output .navbar li{word-spacing:-0.125em}.mw-parser-output .navbar a>span,.mw-parser-output .navbar a>abbr{text-decoration:inherit}.mw-parser-output .navbar-mini abbr{font-variant:small-caps;border-bottom:none;text-decoration:none;cursor:inherit}.mw-parser-output .navbar-ct-full{font-size:114%;margin:0 7em}.mw-parser-output .navbar-ct-mini{font-size:114%;margin:0 4em}vteUniversity ranking systems.1
 0  Academic Ranking of World Universities Center ...
 1       European Union Latin America South East Asia
 2  Australia Excellence in Research for Australia...
 3                                           Category                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                       ]