Calvin Xu 542 Deliverble 1

In [6]:
from IPython.display import IFrame
linkage= "https://www.cia.gov/the-world-factbook/field/median-age/country-comparison"
IFrame(linkage, width=900,height=500)

In [11]:
import pandas as pdf
tableage=pdf.read_html(linkage, header=0)
tableage[0].head()

   Rank                    Country  years Date of Information
0     1                     Monaco   55.4                 NaN
1     2                      Japan   48.6                 NaN
2     3  Saint Pierre and Miquelon   48.5                 NaN
3     4                    Germany   47.8                 NaN
4     5                      Italy   46.5                 NaN

In [12]:
tableage

[     Rank                    Country  years Date of Information
 0       1                     Monaco   55.4                 NaN
 1       2                      Japan   48.6                 NaN
 2       3  Saint Pierre and Miquelon   48.5                 NaN
 3       4                    Germany   47.8                 NaN
 4       5                      Italy   46.5                 NaN
 ..    ...                        ...    ...                 ...
 222   223                       Chad   16.1                 NaN
 223   224                       Mali   16.0                 NaN
 224   225                     Angola   15.9                 NaN
 225   226                     Uganda   15.7                 NaN
 226   227                      Niger   14.8                 NaN

 [227 rows x 4 columns]]

In [19]:
from IPython.display import IFrame
linkpopulation= "https://www.cia.gov/the-world-factbook/field/population/country-comparison"
IFrame(linkpopulation, width=900,height=500)

In [21]:
import pandas as pdf
tablelink=pdf.read_html(linkpopulation, header=0)
tablelink[0].head()

   Rank        Country  Unnamed: 2 Date of Information
0     1          China  1410539758           2022 est.
1     2          India  1389637446           2022 est.
2     3  United States   337341954           2022 est.
3     4      Indonesia   277329163           2022 est.
4     5       Pakistan   242923845           2022 est.

In [22]:
tablelink

[     Rank                  Country  Unnamed: 2 Date of Information
 0       1                    China  1410539758           2022 est.
 1       2                    India  1389637446           2022 est.
 2       3            United States   337341954           2022 est.
 3       4                Indonesia   277329163           2022 est.
 4       5                 Pakistan   242923845           2022 est.
 ..    ...                      ...         ...                 ...
 232   233                  Tokelau        1647           2019 est.
 233   234          Paracel Islands        1440      July 2014 est.
 234   235  Holy See (Vatican City)        1000           2022 est.
 235   236  Cocos (Keeling) Islands         596      July 2014 est.
 236   237         Pitcairn Islands          50           2021 est.

 [237 rows x 4 columns]]

In [23]:
1+1

2