Calvin Xu 542 Deliverble 1

In [2]:
from IPython.display import IFrame
ciaage= "https://www.cia.gov/the-world-factbook/field/median-age/country-comparison"
IFrame(ciaage, width=900,height=500)

In [4]:
import pandas as pd
ciaageTables=pd.read_html(ciaage, header=0,)
ciaageTables[0]

DFciaage=ciaageTables[0].copy()
DFciaage.columns

bye=[0,3]
DFciaage.drop(columns=DFciaage.columns[bye],inplace=True)
DFciaage

                       Country  years
0                       Monaco   55.4
1                        Japan   48.6
2    Saint Pierre and Miquelon   48.5
3                      Germany   47.8
4                        Italy   46.5
..                         ...    ...
222                       Chad   16.1
223                       Mali   16.0
224                     Angola   15.9
225                     Uganda   15.7
226                      Niger   14.8

[227 rows x 2 columns]

In [5]:
from IPython.display import IFrame
cp= "https://www.cia.gov/the-world-factbook/field/population/country-comparison"
IFrame(cp, width=900,height=500)

In [15]:
import pandas as pd
cpTables=pd.read_html(cp, header=0)
cpTables[0]

DFcp=cpTables[0].copy()
DFcp.columns

bye=[0,3]
DFcp.drop(columns=DFcp.columns[bye],inplace=True)


DFcp.columns.str.replace(pat="Unnamed: 2",
                        repl="Population",
                        regex=True)

DFcp.columns=DFcp.columns.str.replace("Unnamed: 2","Population",regex=True).to_list()
DFcp

                     Country  Population
0                      China  1410539758
1                      India  1389637446
2              United States   337341954
3                  Indonesia   277329163
4                   Pakistan   242923845
..                       ...         ...
232                  Tokelau        1647
233          Paracel Islands        1440
234  Holy See (Vatican City)        1000
235  Cocos (Keeling) Islands         596
236         Pitcairn Islands          50

[237 rows x 2 columns]

In [6]:
from IPython.display import IFrame
gini= "https://www.cia.gov/the-world-factbook/field/gini-index-coefficient-distribution-of-family-income/country-comparison"
IFrame(gini, width=900,height=500)

In [7]:
import pandas as pd
ginitable=pd.read_html(gini, header=0)
ginitable[0]

DFgini=ginitable[0].copy()
DFgini.columns

bye=[0,3]
DFgini.drop(columns=DFgini.columns[bye],inplace=True)

DFgini.columns.str.replace(pat="Unnamed: 2",
                        repl="Gini Index",
                        regex=True)

DFgini.columns=DFgini.columns.str.replace("Unnamed: 2","Gini Index",regex=True).to_list()
DFgini

                      Country  Gini Index
0                South Africa        63.0
1                     Namibia        59.1
2                      Zambia        57.1
3    Central African Republic        56.2
4                    Eswatini        54.6
..                        ...         ...
172                  Slovakia        25.2
173                   Belarus        24.4
174                  Slovenia        24.2
175             Faroe Islands        22.7
176                    Jersey         0.3

[177 rows x 2 columns]

In [8]:
from IPython.display import IFrame
UER= "https://www.cia.gov/the-world-factbook/field/unemployment-rate/country-comparison"
IFrame(UER, width=900,height=500)

In [9]:
import pandas as pd
UERtable=pd.read_html(UER, header=0)
UERtable[0]

DFUER=UERtable[0].copy()
DFUER.columns

bye=[0,3]
DFUER.drop(columns=DFUER.columns[bye],inplace=True)

DFUER.columns.str.replace(pat="%",
                        repl="Unemployment Rate",
                        regex=True)

DFUER.columns=DFUER.columns.str.replace("%","Unemployment Rate",regex=True).to_list()
DFUER

                               Country  Unemployment Rate
0              Cocos (Keeling) Islands               0.10
1                                Qatar               0.26
2                             Cambodia               0.61
3                                Niger               0.75
4    Falkland Islands (Islas Malvinas)               1.00
..                                 ...                ...
223                     American Samoa              29.80
224                             Kosovo              30.50
225                           Kiribati              30.60
226                       South Africa              33.56
227                   Marshall Islands              36.00

[228 rows x 2 columns]

In [10]:
from IPython.display import IFrame
Pub= "https://www.cia.gov/the-world-factbook/field/public-debt/country-comparison"
IFrame(Pub, width=900,height=500)

In [11]:
import pandas as pd
Pubtable=pd.read_html(Pub, header=0)
Pubtable[0]

DFPub=Pubtable[0].copy()
DFPub.columns

bye=[0,3]
DFPub.drop(columns=DFPub.columns[bye],inplace=True)

DFPub.columns.str.replace(pat="% of",
                        repl="Public Debt Percentage in",
                        regex=True)

DFPub.columns=DFPub.columns.str.replace("% of","Public Debt Percentage in",regex=True).to_list()
DFPub

                               Country  Public Debt Percentage in GDP
0                               Greece                         252.29
1                                Japan                         216.28
2                       United Kingdom                         195.39
3                            Singapore                         153.41
4                             Barbados                         146.93
..                                 ...                            ...
205                        Timor-Leste                           3.80
206                             Brunei                           2.80
207                          Hong Kong                           0.10
208  Falkland Islands (Islas Malvinas)                           0.00
209                              Macau                           0.00

[210 rows x 2 columns]

In [12]:
from IPython.display import IFrame
PopuG= "https://www.cia.gov/the-world-factbook/field/population-growth-rate/country-comparison"
IFrame(PopuG, width=900,height=500)

In [13]:
import pandas as pd
PopuGtable=pd.read_html(PopuG, header=0)
PopuGtable[0]

DFPopuG=PopuGtable[0].copy()
DFPopuG.columns

bye=[0,3]
DFPopuG.drop(columns=DFPopuG.columns[bye],inplace=True)

DFPopuG.columns.str.replace(pat="%",
                        repl="Population Growth Rate",
                        regex=True)

DFPopuG.columns=DFPopuG.columns.str.replace("%","Population Growth Rate",regex=True).to_list()
DFPopuG

                       Country  Population Growth Rate
0                        Syria                    5.91
1                  South Sudan                    4.91
2                        Niger                    3.66
3                      Burundi                    3.63
4            Equatorial Guinea                    3.50
..                         ...                     ...
232                    Moldova                   -1.12
233  Saint Pierre and Miquelon                   -1.20
234                Puerto Rico                   -1.38
235             American Samoa                   -1.92
236               Cook Islands                   -2.39

[237 rows x 2 columns]

In [29]:
df3=pd.merge(DFciaage,DFcp,on="Country",how="inner")
df3

                       Country  years  Population
0                       Monaco   55.4       31400
1                        Japan   48.6   124214766
2    Saint Pierre and Miquelon   48.5        5257
3                      Germany   47.8    84316622
4                        Italy   46.5    61095551
..                         ...    ...         ...
222                       Chad   16.1    17963211
223                       Mali   16.0    20741769
224                     Angola   15.9    34795287
225                     Uganda   15.7    46205893
226                      Niger   14.8    24484587

[227 rows x 3 columns]

In [30]:
df4=pd.merge(df3,DFgini,on="Country",how="inner")
df4

       Country  years  Population  Gini Index
0        Japan   48.6   124214766        32.9
1      Germany   47.8    84316622        31.7
2        Italy   46.5    61095551        35.2
3    Hong Kong   45.6     7276588        53.9
4       Greece   45.3    10533871        33.1
..         ...    ...         ...         ...
171       Chad   16.1    17963211        37.5
172       Mali   16.0    20741769        36.1
173     Angola   15.9    34795287        51.3
174     Uganda   15.7    46205893        42.8
175      Niger   14.8    24484587        37.3

[176 rows x 4 columns]

In [31]:
df5=pd.merge(df4,DFUER,on="Country",how="inner")
df5

       Country  years  Population  Gini Index  Unemployment Rate
0        Japan   48.6   124214766        32.9               2.80
1      Germany   47.8    84316622        31.7               3.54
2        Italy   46.5    61095551        35.2               9.83
3    Hong Kong   45.6     7276588        53.9               5.32
4       Greece   45.3    10533871        33.1              14.80
..         ...    ...         ...         ...                ...
170       Chad   16.1    17963211        37.5               1.88
171       Mali   16.0    20741769        36.1               7.72
172     Angola   15.9    34795287        51.3               8.53
173     Uganda   15.7    46205893        42.8               2.94
174      Niger   14.8    24484587        37.3               0.75

[175 rows x 5 columns]

In [32]:
df6=pd.merge(df5,DFPub,on="Country",how="inner")
df6

,Country,years,Population,Gini Index,Unemployment Rate,Public Debt Percentage in GDP
0,Japan,48.6,124214766,32.9,2.80,216.28
1,Germany,47.8,84316622,31.7,3.54,63.90
2,Italy,46.5,61095551,35.2,9.83,131.80
3,Hong Kong,45.6,7276588,53.9,5.32,0.10
4,Greece,45.3,10533871,33.1,14.80,252.29
...,...,...,...,...,...,...
168,Chad,16.1,17963211,37.5,1.88,52.50
169,Mali,16.0,20741769,36.1,7.72,35.40
170,Angola,15.9,34795287,51.3,8.53,65.00
171,Uganda,15.7,46205893,42.8,2.94,44.19
172,Niger,14.8,24484587,37.3,0.75,45.30

In [33]:
df7=pd.merge(df6,DFPopuG,on="Country",how="inner")
df7

,Country,years,Population,Gini Index,Unemployment Rate,Public Debt Percentage in GDP,Population Growth Rate
0,Japan,48.6,124214766,32.9,2.80,216.28,-0.39
1,Germany,47.8,84316622,31.7,3.54,63.90,-0.11
2,Italy,46.5,61095551,35.2,9.83,131.80,-0.13
3,Hong Kong,45.6,7276588,53.9,5.32,0.10,0.17
4,Greece,45.3,10533871,33.1,14.80,252.29,-0.34
...,...,...,...,...,...,...,...
168,Chad,16.1,17963211,37.5,1.88,52.50,3.09
169,Mali,16.0,20741769,36.1,7.72,35.40,2.95
170,Angola,15.9,34795287,51.3,8.53,65.00,3.36
171,Uganda,15.7,46205893,42.8,2.94,44.19,3.27
172,Niger,14.8,24484587,37.3,0.75,45.30,3.66

In [37]:
import pandas as pd 
df7.to_csv('Deliv1_dataframe.csv',index=False)